<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Use minimum-scale=1 to enable GPU rasterization -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
        <title>Excel Sheets</title>
        <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>
    </head>

    <body oncopy="return false" oncut="return false" onpaste="return false">
        <div id="reactContainer">
            <%- reactOutput %>
        </div>

        <!-- This script adds the Roboto font to our project. For more detail go to this site:  http://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,500 -->
        <script>
            var WebFontConfig = {
              google: { families: [ 'Roboto:400,300,500:latin' ] }
            };
            (function() {
              var wf = document.createElement('script');
              wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
              wf.type = 'text/javascript';
              wf.async = 'true';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(wf, s);
            })();

            var gridArr = [], gridRow = [], gridCol = [], gridValue = [];
        </script>

        <script type="text/javascript" src="/scripts/sspage-react-bundle.js"></script>
        <script type="text/javascript" src="/scripts/utils/Resize.js"></script>
    </body>
</html>
