
body {
    padding: 0;
    margin: 0;
    overflow: auto;
}

header {
    width: 100%;
    height: 13%;
    box-sizing: border-box;
}

.heading {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    font-size: 1.7em;
    font-weight: bold;
    background-color: #333;
    font-style: italic;
    color: #fff;
    box-sizing: border-box;
}

.spreadsheet {
    position: relative;
    white-space: nowrap;
}

.rowHeader {
    display: inline-block;
    width: 5%;
    background-color: #f1f1f1;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.rowHeader div {
    display: block;
    width: 100%;
    border: 1px solid #999;
    line-height: 1.5em;
    padding: 0.2em;
    box-sizing: border-box;
    resize: vertical;
}

.colHeader {
    display: block;
    width: 95%;
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    left: 5%;
    font-weight: bold;
}

.colHeader div {
    display: inline-block;
    width: 5.68%;
    border: 1px solid #999;
    line-height: 1.5em;
    padding: 0.2em;
    box-sizing: border-box;
    resize: horizontal;
}

.cellGrid {
    position: absolute;
    margin-top: 2.7%;
    margin-left: 5%;
}

.cell {
    display: inline-block;
    width: 5.67%;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    height: 32px;
    box-sizing: border-box;
}

.cell.selected {
    border: 2px solid #000;
}

.cell input {
    line-height: 1.5em;
    width: 100%;
    height: 100%;
}

.resizable-h, .resizable-v {
    position: relative;
}

.resizer-h {
    width: 2px; height: 100%; background: none !important; border: 0 !important; position:absolute; right: 0; bottom: 0; cursor: e-resize;
}

.resizer-v {
    width: 100%; height: 2px; background: none !important; border: 0 !important; position:absolute; left: 0; bottom: 0; cursor: s-resize;
}

.contextMenu {
    height: 80px;
    max-height: 150px;
    width: 200px;
    max-width: 200px;
    font-size: 1em;
    background-color: #333;
    box-shadow: 10px 10px 10px #555;
    color: #fff;
    position: absolute;
    border-style: groove;
    border: 2px solid #000;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.contextMenu .menuItem {
    min-height: 26px;
    padding: 0.5em;
}

.contextMenu .menuItem:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
